.nav-links {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.navbar {
    background-color: blue;
    color:white;
}

.article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 26vw;
    row-gap: 10px;
    column-gap: 35px;
}

.column {
    border: 2px solid black;
}

.column-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.upper-article, .lower-article {
    border: 2px solid blue;
}

.main {
    border: 2px solid red;
    display: grid;
}

.col {
    border: 2px solid black;
}

footer {
    position: fixed;
    bottom: -1px;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.article-img {
    height: 25.8vw;
    width: 59vw;
}